
<template name="layout">
    <div class="container">
    <a href="https://github.com/plopp/kollpastan"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
    <header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header" style="width:100%">
      	<div class="row" style="height:50px">
          <div class="col-md-4">
            <img src="/img/sp.png" style="position:relative;display:float;width:20px;height:32px;top:8px;left:8px"/>
            <img src="/img/ict.png" style="position:relative;display:float;width:110px;height:32px;top:8px;left:8px"/>
            <img src="/img/fk.gif" style="position:relative;display:float;width:110px;height:32px;top:8px;left:8px"/>
          </div>
          <div class="col-md-4">
            <a class="navbar-brand" style="position:relative;left:26%;font-size:28px" href="/">Koll på stan!</a>
          </div>
	        <div class="col-md-4">
	        	<div style="font-style: italic;line-height: 50px;horizontal-align:middle;">
	        		<span style="float:right;padding-right:10px">Påverka samhällsåtgärder!</span>
	        	</div>
	        </div>
        </div>
      </div>
    </header>
	<h3><a href="{{pathFor 'postSubmit'}}" class="btn btn-info" style="width:100%" id="addcomplaint">+ Lägg till nytt förslag</a></h3>	    
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>
</template>
